/*
 * Un ejemplo de un archivo externo CSS.
 */

body {
  font-family: sans-serif;
  background-color: yellow;
  color: green;
  padding: 20px;
}

h1 {
  color: red;
  border: 5px black solid;
  margin: 50px;
  padding: 20px 5px;
}

em {
    color: white;
    background-color: black;
    padding: 0px 10px;
}

#favorito {
    color: blue;
    font-family: serif;
}